<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title><%= title %></title>
</head>
<body>
    <h1> Codeorzo / home page </h1>

    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
            <input type="submit" value="post">
        </form>
    </section>

    <% for (let i of post_list) { %>
        <ul>
            <li> 
                <p><%= i.user.name %></p>
                <h3><%= i.content %></h3>
                <small> <%= i.createdAt %> </small>
            </li>
        </ul>
    <% } %>
</body>
</html>