<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/user_profile.css">
    <title><%= title %></title>
</head>
<body>
    <div class="profile-style">
        <div class="card-styling">
            <img 
                class="profile-pic"
                src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_photo-512.png" 
                alt="cover-pic"
            >
            <div class="card-info">
                <div>
                    Name: <%= profile_user.name %>
                </div>
                <div>
                    Email: <%= profile_user.email %>
                </div>
            </div>
        </div>
        <div class="card-styling">
            <div class="card-info">
                <div class="about-me-styling">
                    <p>About me :</p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                </div>
            </div>
        </div>
    </div>
</body>
</html>