/* Main Body Styling */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* how to arrange object styling */
#container-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Header */
#page-header{
    color: white;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 20px;
    margin: 0px;
}
h3{
    text-shadow: 5px 3px #f5487f;
}

/* Form Styling  */
#form-style{
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    border: 2px solid #122c91;
    margin: 20px;
    margin-top: 0;
    padding: 10px;
    box-shadow: -5px -5px 30px 5px #f5487f, 5px 5px 30px 5px #122c91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form-style form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #122c91;
    box-shadow: 0 0 5px 3px #122c91;
    font-size: 15px;
    font-weight: bold;
    color: grey;
}

form button{
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #122c91;
    box-shadow: 0 0 5px 3px #122c91;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

/* Authentication with Google Styling */
.google-auth{
    background-color: white;
    text-align: center;
    box-shadow: 2px 2px 2px 1px grey;
    padding: 10px;
}
.google-auth a{
    text-decoration: none;
    color: grey;
    margin: 2px;
}
.google-auth:hover{
    box-shadow: 1px 1px 1px 1px lightgrey;
}