body{
    background-color:#FFFFF0;
    font-family: monospace;
}

/* Overall Styling */
.profile-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Indivitual card styling */
.card-styling{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 650px;
    max-width: 700px;
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
    background-color:#FFF5EE;
    box-shadow: 5px 5px 5px #f5487f;
}

/* Information inside card styling */
.card-styling img{
    height: 150px;
    width: 150px;
    border: 5px solid #f5487f;
    border-radius: 50%;
    margin: 10px;
}
.card-info div{
    font-weight: bold;
    color: #f5487f;
}

/* About me Styling */
.about-me-styling p{
    font-size: 30px;
}