body{
    background-color:#FFFFF0;
    font-family: monospace;
}

/* Overall Styling */
.profile-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Indivitual card styling */
.card-styling{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 650px;
    max-width: 700px;
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
    background-color:#FFF5EE;
    box-shadow: 5px 5px 5px #f5487f;
}

/* Information inside card styling */
.card-styling img{
    height: 150px;
    width: 150px;
    border: 5px solid #f5487f;
    border-radius: 50%;
    margin: 10px;
}

/* Card Stylings */
.card-info div{
    font-weight: bold;
    color: #f5487f;
}

.card-info form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-info form input{
    padding: 10px;
    margin: 10px;
    border: 3px solid lightgrey;
    color: grey;
    width: 100%;
    border-radius: 10px;
    font-family: monospace;
    font-weight: bold;
}
.card-info form button{
    padding: 10px;
    margin: 10px;
    border: 3px solid white;
    color: white;
    background-color: #122c91;
    font-family: monospace;
    font-weight: bold;
    border-radius: 10px;
}